.fh {
  color: white;
}

.forgot input {
  border-radius: 8px;
  border: 3px solid #3f3f40;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 40%;
  font-size: 1rem;
}

.forgotBtn {
  border: 15% solid #3f3f40;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  border-radius: 20px;
  margin-top: 20px;
}
.image3 {
  background: url(../../asstes/i1.webp);
  background-size: cover;
  min-height: 86vh;
}
