.footer {
  /* position: fixed; */
  /* padding: 15px 15px 0px 15px; */
  /* bottom: 0; */
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 15px;
  /* margin: 2%; */
}
