/* 
.leftSide{
    float: left;
    margin: 10% 5% 15% 15%;
    width: auto;
}
h1 {
    text-align: center;
  }

  .changePassword {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  
  .changePassword input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
  }
  
  .changePasswordBtn {
    border:15%;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  
   */
